


/* Reset default styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;

}


  /* Main Content styles */
  .main {
    width: calc(100% - 4rem);
    margin: 1rem;
    padding: 1rem 1rem;
  }

